
/* Agregar animación simple para las imágenes de productos */
.card-img-top {
    transition: transform 0.3s ease;
}

.card-img-top:hover {
    transform: scale(1.1);
}

.card {
    overflow: hidden;
}

body {
    background-color: #eaf1f1; /* Cambiar a un color personalizado */
}

